<div class="card shadow p-3 mb-5 bg-white rounded" >
  
    <div class="card-body card_content rounded ">

        <h3>Home Automation Viewer</h3>

      <br/>


        <p style="text-align:left;text-indent:2%" >
        Both preview access and control access of my HomeSeer Home Automation system will eventualy be added to this Web Site, control access will require an admin user login.&nbsp;&nbsp;&nbsp;Currently my home is configured with a number of ZWave Home Automation Devices which are all controlled via HomeSeer Home Automation software.&nbsp;&nbsp;&nbsp;
        For more information on HomeSeer Home Automation Software please click on the logo below to go to their Web site.&nbsp;&nbsp;&nbsp;
        </p>

         <br/>
         
         <p style="text-align:center;text-indent:2%" >

            <a href="https://homeseer.com"  target="_blank">
            <img src="/images/homeseerlogo.png" width="548px" height="90px">
            <img src="/images/z-wave-logo.png" width="200px" height="111px">
            </a>

        </p>




    </div>
</div>

