<div class="card shadow p-3 mb-5 bg-white rounded" >
  
    <div class="card-body card_content rounded ">

        <h3>Contact</h3>

      <br/>

    <p style="text-align:center;text-indent:2%" >
        Please feel free to use the following email link to contact me regarding inquiries and/or comments.&nbsp;&nbsp;&nbsp;Once received I will try to respond as quickly as possible.&nbsp;&nbsp;&nbsp;
    </p>

    <div style="text-align:center;">

        <a class="btn btn-dark" role="button" href="mailto:monacos@monacos.us?subject=Monaco Software Solution Email&bcc=orlanmon@gmail.com" >Contact Me</a>
        
    </div>


    </div>
</div>
