
  .nav-item:hover {
        background-color: lightgray;
    }

    .dropdown-item:hover {
        background-color: lightgray;
    }

    /* Position the submenu to the right of the parent item */
    .dropdown-submenu {
        position: relative;
    }

   
    .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
    }

    /* Show the submenu on hover (common approach) */
    .dropdown-submenu:hover > .dropdown-menu {
            display: block;
     }

