  <!-- Level 1 Nav Item Dropdown -->
    

            @for (item of this.menuItems; track item.navigationItemID) {

              @if (item.children == undefined || item.children.length == 0) {  
                <!-- Level 2 Nav Item -->

                @if( item.url.indexOf('http:\\') == -1  || item.url.indexOf('https:\\') == -1 ) { 

                <a class="dropdown-item" routerLink="{{item.url}}">{{ item.text }}</a>

              } @else {

                <a class="dropdown-item" href="{{item.url}}" target="_blank">{{ item.text }}</a>

              }

              } @else {

                <!-- Level 2 Nav Item Dropdown -->
                <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">{{ item.text }}</a>
                <ul class="dropdown-menu">

                  <app-menu-item [menuItems]="item.children"></app-menu-item>

                </ul>
                </li>
            }
          }