<div class="card shadow p-3 mb-5 bg-white rounded" >
  
    <div class="card-body card_content rounded ">

        <h3>Web Site Internals</h3>

      <br/>


  <p style="text-align:left;text-indent:2%" >

    This site is intended to be the home for Monaco Software Solutions on the Web but also a sandbox if you will for testing and working with new software development tools and technologies most of which are in the Microsoft Software Stack.&nbsp;&nbsp;&nbsp;    
        This Single-Page Web site/application was predominantly written in Angular 20 with an ASP.NET CORE MVC RESTful Web API backend which accesses a SQL Server database.&nbsp;&nbsp;&nbsp;This Web site/application can now be used as a fully functioning template for building any Single-Page database driven Web applications for business use.&nbsp;&nbsp;&nbsp;

  </p>
  
    <br />
  
  <p style="text-align:left;text-indent:2%" >
    Here is a quick summary of some of the features of this Web site/application:
  </p>

  <ul class="list-group">
            <li class="list-group-item">&bull;&nbsp;Angular 20 Single-Page Web Frontend</li>
            <li class="list-group-item">&bull;&nbsp;ASP.NET CORE MVC RESTful Web API</li>
            <li class="list-group-item">&bull;&nbsp;SQL Server Database</li>
            <li class="list-group-item">&bull;&nbsp;Database driven User Authentication and Role based security.</li>
            <li class="list-group-item">&bull;&nbsp;JSON Web Tokens (JWT) for Web API Authentication</li>
            <li class="list-group-item">&bull;&nbsp;Database driven Menu system using Role based security.</li>
            <li class="list-group-item">&bull;&nbsp;Google Analytics Integration.</li>
    </ul>

    <br />
                  
    <p style="text-align:left;text-indent:2%">
        Also here are some the tools and technologies used to create this Web site/application:
    </p>
        <ul class="list-group">
            <li class="list-group-item">&bull;&nbsp;Visual Studio 2022</li>
            <li class="list-group-item">&bull;&nbsp;Visual Studio Code</li>
            <li class="list-group-item">&bull;&nbsp;MS.NET C#</li>
            <li class="list-group-item">&bull;&nbsp;Microsoft ASP.NET CORE MVC RESTful Web Services</li>
            <li class="list-group-item">&bull;&nbsp;SQL Server Database</li>
            <li class="list-group-item">&bull;&nbsp;Angular 20</li>
            <li class="list-group-item">&bull;&nbsp;JSON</li>
            <li class="list-group-item">&bull;&nbsp;CSS</li>
            <li class="list-group-item">&bull;&nbsp;Bootstrap</li>
        </ul>

  </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded" >
  
    <div class="card-body card_content rounded ">

        <h3>Web Application Design</h3>

      <br/>

       
  <p style="text-align:left;text-indent:2%" >
  This Angular 20 Web site/application is comprised of a series of components and services all of which which interact with a SQL Server database via an ASP.NET CORE MVC RESTful Web Service.&nbsp;&nbsp;&nbsp;
  The high level design diagram of this Web site/application is displayed below and if you would like to expand the diagram just click on the design diagram image.&nbsp;&nbsp;&nbsp;   
</p>

        <p style="text-align:left;text-indent:2%" >

            <img #application_design_image src="/images/application_design.png" width="600px" height="380px" style="border-color: black; border-style: solid; border-width: 1px;" alt="Application Design">          

        </p>

    </div>
</div>