<div class="card shadow p-3 mb-5 bg-white rounded" >
  
    <div class="card-body card_content rounded ">

        <h3>About Me</h3>

      <br/>


  <p style="text-align:left;text-indent:2%" >

    My software development experience spans well over 30 years in varied businesses and utilizing a number of different tools, technologies, and frameworks.&nbsp;&nbsp;&nbsp;
    Tools, technologies, and languages that have currently been implemented in some of my software solutions includes Visual Studio 2019/2022, Visual Studio Code, Angular 20, AngularJS, Javascript, JQuery, Bootstrap, JSON, .NET Window Forms, ASP.NET CORE MVC RESTful Web Services, .NET Windows Communication Foundation (WCF), Microsoft Azure, C#, VB.NET, SQL, C++, C, and Java.&nbsp;&nbsp;&nbsp;
    Additional areas of software development expertise include XML, XSLT, SQL Server, T-SQL, ORACLE, PL/SQL, Crystal Reports, Crystal Reports Server 2008, MS SQL Reporting Services (SSRS), and Sharepoint.&nbsp;&nbsp;&nbsp;
  
  </p>

  <p style="text-align:left;text-indent:2%">
    If you would like to contact me please use the <a routerLink="/contact">Contact Page</a> on this Web site and if you are on LinkedIn please feel to connect via the LinkedIn icon in the upper right hand corner of the Web site.&nbsp;&nbsp;&nbsp;

  </p>
  
    <br />
  
  <p style="text-align:left;text-indent:2%" >
    Here is a quick summary of some of my skillsets:
  </p>

   <div class="text-center rounded" style="background-color: white; width:80%; padding:10px" >
   <div class="row">
    <div class="col">&bull;&nbsp;C#
    </div>
    <div class="col">&bull;&nbsp;VB.NET
    </div>
    <div class="col">&bull;&nbsp;C/C++
    </div>
  </div>
   <div class="row">
    <div class="col">&bull;&nbsp;Visual Studio
    </div>
    <div class="col">&bull;&nbsp;Visual Studio Code
    </div>
    <div class="col">&bull;&nbsp;ASP.NET MVC
    </div>
  </div>
   <div class="row">
    <div class="col">&bull;&nbsp;ASP.NET CORE
    </div>
    <div class="col">&bull;&nbsp;Azure
    </div>
    <div class="col">&bull;&nbsp;JSON
    </div>
  </div>
    <div class="row">
    <div class="col">&bull;&nbsp;XML
    </div>
    <div class="col">&bull;&nbsp;jQuery
    </div>
    <div class="col">&bull;&nbsp;Node.js
    </div>
  </div>
    <div class="row">
    <div class="col">&bull;&nbsp;JavaScript
    </div>
    <div class="col">&bull;&nbsp;AngularJS
    </div>
    <div class="col">&bull;&nbsp;Angular
    </div>
  </div>
    <div class="row">
    <div class="col">&bull;&nbsp;TypeScript
    </div>
    <div class="col">&bull;&nbsp;SQL Server
    </div>
    <div class="col">&bull;&nbsp;Oracle
    </div>
  </div>
 <div class="row">
    <div class="col">&bull;&nbsp;TSQL
    </div>
    <div class="col">&bull;&nbsp;PL/SQL
    </div>
    <div class="col">&bull;&nbsp;SQL
    </div>
  </div>
    <div class="row">
    <div class="col">&bull;&nbsp;SOAP Web API
    </div>
    <div class="col">&bull;&nbsp;RESTful Web API
    </div>
    <div class="col">&bull;&nbsp;CSS
    </div>
  </div>
 <div class="row">
    <div class="col">&bull;&nbsp;HTML
    </div>
    <div class="col">&bull;&nbsp;Bootstrap
    </div>
    <div class="col">&bull;&nbsp;SSRS
    </div>
  </div>
    <div class="row">
    <div class="col">&bull;&nbsp;Crystal Reports
    </div>
    <div class="col">&bull;&nbsp;Git
    </div>
    <div class="col">&bull;&nbsp;Sharepoint
    </div>
  </div>
 <div class="row">
    <div class="col">&bull;&nbsp;Azure DevOps
    </div>
    <div class="col">&bull;&nbsp;Java
    </div>
    <div class="col">
    </div>
  </div>

  </div>

<br />
                  
</div>


